<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>KStream</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap/bootstrap.css" th:href="@{/r/css/bootstrap/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap/bootstrap-theme.css" th:href="@{/r/css/bootstrap/bootstrap-theme.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/r/css/style.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/videojs/video-js.css" th:href="@{/r/css/videojs/video-js.css}"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div th:fragment="menu" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">KStream</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/tv/series/all" th:href="@{/tv/series/all}">Shows</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<div th:fragment="adminmenu" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">KStream</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/admin/tv/search" th:href="@{/admin/tv/search}">TV Show Manager</a></li>
                <li><a href="/admin/tv/series/all" th:href="@{/admin/tv/series/all}">Shows</a></li>
                <li><a href="/admin/settings" th:href="@{/admin/settings}">Settings</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/profile" th:text="${#authentication.name}">James</a></li>
                <li><a href="/logout" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">

    <div class="starter-template">
        <h1 th:text="#{page.header}">Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br/> All you get is this text and a mostly barebones HTML document.</p>
    </div>

</div><!-- /.container -->
<!-- Modal -->
<div th:fragment="browser" class="modal fade" id="browser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <button type="button" class="btn btn-xs pull-right bw-option bw-deselect-all"><span>Deselect All</span></button>
                <button type="button" class="btn btn-xs pull-right bw-option bw-select-all"><span>Select All</span></button>
                <h4 class="modal-title" id="myModalLabel">File Browser</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary bw-submit">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- JS INCLUDES -->
<div th:fragment="footer" class="footer">
</div>
<div th:fragment="scripts">
    <script type="application/javascript" src="../static/js/jquery/jquery-2.1.0.min.js" th:src="@{/r/js/jquery/jquery-2.1.0.min.js}"></script>
    <script type="application/javascript" src="../static/js/bootstrap/bootstrap.js" th:src="@{/r/js/bootstrap/bootstrap.js}"></script>
    <script type="application/javascript" src="../static/js/validation/jquery.validate.min.js" th:src="@{/r/js/validation/jquery.validate.min.js}"></script>
    <script type="application/javascript" src="../static/js/videojs/video.js" th:src="@{/r/js/videojs/video.js}"></script>
    <script type="application/javascript" src="../static/js/main.js" th:src="@{/r/js/main.js}"></script>
</div>
</body>
</html>

