<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
<div th:replace="layout/layout :: menu"></div>

<div class="container">

    <div class="starter-template">
        <h1 th:text="#{page.header}">Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br/> All you get is this text and a mostly barebones HTML document.</p>
    </div>
    <video id="example_video_1" class="video-js vjs-default-skin"
           controls="" preload="auto" width="640" height="264"
           data-setup='{"example_option":true}'>
        <source src="/r/oceans.mp4" type='video/mp4' />
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>
</div><!-- /.container -->


<!-- JS INCLUDES -->
<div th:replace="layout/layout :: scripts">Scripts</div>
</body>
</html>

